{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
					<li><a href="/">Home</a></li>
			    	<li><a href="{% url 'newproducts' %}">New Products</a></li>
			    	<li><a href="{% url 'specialoffer' %}">Special Offers</a></li>
			    	<li><a href="{% url 'myaccount' %}">My Account</a></li>
			    	<li><a href="{% url 'shoppingcart' %}">Shopping Cart</a></li>
			    	<li><a href="{% url 'location' %}">Locations</a></li>
			    	<li><a href="{% url 'news' %}">News</a></li>
			    	<li class="active"><a href="{% url 'contact' %}">Contact Us</a></li>
			    	<div class="clear"></div>
     			</ul>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     	
   </div>
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>Contact Us</h2>
					    <form>
					    	<div>
						    	<span><label>Name</label></span>
						    	<span><input type="text" class="textbox" ></span>
						    </div>
						    <div>
						    	<span><label>E-mail</label></span>
						    	<span><input type="text" class="textbox"></span>
						    </div>
						    <div>
						     	<span><label>Company Name</label></span>
						    	<span><input type="text" class="textbox"></span>
						    </div>
						    <div>
						    	<span><label>Subject</label></span>
						    	<span><textarea> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit"  class="myButton"></span>
						  </div>
					    </form>
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h3>Find Us Here</h3>
					    	  <div class="map">
							   	    <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://timeline.google.com/maps/timeline?hl=mr&authuser=0&pb=!1m2!1m1!1s2024-04-06&pli=1&rapt=AEjHL4OVa5bzccpNxcOdgOmdL0m1yrYLgVMZgvSkeUxpR40UQSjf9r0SPJR6Kqyx4nnXogf0uzvHff8ASXfbJQMsd7uratURK-buyfuW3jBf3kODUa1RwQU"></iframe><br><small><a href="https://timeline.google.com/maps/timeline?hl=mr&authuser=0&pb=!1m2!1m1!1s2024-04-06&pli=1&rapt=AEjHL4OVa5bzccpNxcOdgOmdL0m1yrYLgVMZgvSkeUxpR40UQSjf9r0SPJR6Kqyx4nnXogf0uzvHff8ASXfbJQMsd7uratURK-buyfuW3jBf3kODUa1RwQU" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
							  </div>
      				</div>
      			<div class="company_address">
				     	<h3>SPCL Information :</h3>
						    	<p>SPCL Infotech</p>
						   		<p>varje Road,PUNE</p>
						   		<p>Pune</p>
				   		<p>Phone:9021982713</p>
				   		<p>Fax: 00000</p>
				 	 	<p>Email: <span><a href="mailto:d@example.com">spcl@info.com</a></span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				 </div>
			  </div>		
         </div> 
    </div>
 </div>
  
</div>
{% endblock %}

